.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/ymaze/metabolomics_fam/tracking_videos/*
data/ymaze/*/videos/*
